.di-title {
    display: flex;
    align-items: center;
}

.copy-btn {
    margin: 0 0 2px 2px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.selected-by-cdc {
    border: 1px dashed black;
    padding: 3px;
}
